@import '../../properties';
.footer{
    padding: 2rem;
    background-color:$button-color;
    color: $background-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form{
        padding: 1rem;
        input{
            font-size: 1.2rem;
            margin: 0 2rem;
            padding: 10px;
            border: none;
            outline: none;
        }
    }
    .social-icons{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 2rem auto;
        .instagram,.facebook,.youtube{
            font-size:2.5rem;
            padding: 0.5rem;
            margin: 0 1rem;
            cursor: pointer;
        }
    }
    .footer-info{
        display: flex;
        align-items: center;
        margin: 2rem 0;
        padding: 1rem;
        justify-content:space-between;
        width: 100%;
        font-size: 1.5rem;
        
    }
}